**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md


# Env and package
.env
.vscode
*.whl
build
*.egg-info

# Dataset
*.npz

# Models
*.pth
*.pickle

# Compiled python
*.pyc

# Jupyter
*.ipynb
.ipynb_checkpoints

# Doc
_build

# Figures
*.png
*.jpg

# Logs
logs

.idea

# References and reports
references/*
reports/*
data/*
experiments/*

# Dask files
dask_worker_space/*
notebooks/dask_worker_space/*